<h1>User's_signIN</h1>

<form action="users/create-signIn" method="post">
    <input type="email" name="email" required>
    <input type="password" name="password" required>
    <button type="submit"> Sign In</button>
</form>
</form>